.root                             { -fx-font: 13px "Arial";    }


.hbox_google {
    -fx-background-color: #4e85ec;
}

.text-field {
    -fx-text-fill: white;
    -fx-highlight-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-font-size: 15px;
}

.hbox_sendToPhone {
    -fx-border-color:#e6e6e6 ;
}

.hbox_floorBtn_hbox {
    -fx-border-color: #e6e6e6 ;
}

.hbox_floorBtn {
    -fx-border-color: #BDBDBD ;
}

.table-view .column-header
{
    -fx-font: 13px "Roboto";
    -fx-background-color: #BDBDBD;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 2, 0.5, 1, 1);
}

.hbox_floorBtn_start {
    -fx-background-color: rgb(148,231,198);
}

.hbox_floorBtn {
    -fx-background-color: #4e85ec;
}


.hbox_floorBtn_end {
    -fx-background-color: rgb(235,143,185)
}



