.StartButton {
    -fx-background-color: cornflowerblue;
    -fx-border-color: aliceblue ;
}

.EndButton {
    -fx-background-color: crimson;
    -fx-border-color: cornsilk;
}

.touch-sizes .list-view .list-cell {
    -fx-padding: 0.4em 0.8em 0.4em 0.8em;
}
.touch-sizes .list-view .list-cell {
    -fx-font-size: 1.3em;
}

.contrast .list-view {
    -fx-background-color: -app-color-lo;
}
.contrast .list-view .list-cell .text {
    -fx-fill: -app-color-hi;
}
.contrast .list-view .list-cell {
    -fx-background-color: -app-color-lo;
}
.contrast .list-view .list-cell:filled:hover {
    -fx-background-color: -app-hover;
}
.contrast .list-view .list-cell:selected:filled:hover {
    -fx-background-color: -app-color-hi;
}
.contrast .list-view .list-cell:selected {
    -fx-background-color: -app-color-hi;
}
.contrast .list-view .list-cell:selected .text {
    -fx-fill: -app-color-lo;
}
.contrast .slider .track {
    -fx-background-color: -app-color-hi, -app-color-lo;
    -fx-background-insets: 0, 1;
}
.contrast .slider .thumb {
    -fx-background-color: -app-color-hi, -app-color-lo;
    -fx-background-insets: 0, 2;
}
.contrast .slider .thumb:hover {
    -fx-background-color: -app-color-hi, -app-hover;
}
.touch-sizes .slider {
    -fx-min-width: 200px;
}
.touch-sizes .slider .track {
    -fx-padding: 0.5em;
}
.touch-sizes .slider .thumb {
    -fx-padding: 1.3em;
    -fx-background-radius: 100;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 240px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
}

.styled-select.slate {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #58B14C;
    -webkit-appearance: none;
}

#mainselection {
    overflow:hidden;
    width:350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}



select#soflow, select#soflow-color {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

select#soflow-color {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
}

.form-search .combobox-container,
.form-inline .combobox-container {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
}
.form-search .combobox-container .input-group-addon,
.form-inline .combobox-container .input-group-addon {
    width: auto;
}

.combobox-selected .caret {
    display: none;
}

.typeahead-long {
    max-height: 300px;
    overflow-y: auto;
}
.control-group.error .combobox-container .add-on {
    color: #B94A48;
    border-color: #B94A48;
}
.control-group.error .combobox-container .caret {
    border-top-color: #B94A48;
}
.control-group.warning .combobox-container .add-on {
    color: #C09853;
    border-color: #C09853;
}
.control-group.warning .combobox-container .caret {
    border-top-color: #C09853;
}
.control-group.success .combobox-container .add-on {
    color: #468847;
    border-color: #468847;
}
.control-group.success .combobox-container .caret {
    border-top-color: #468847;
}