.floorbutton {
    -fx-background-color: white;
    -fx-border-color: lightgray;
}

.illuminatedfloorbutton {
    -fx-background-color: dodgerblue;
    -fx-border-color: lightgray;
}

.normalButton {
    -fx-background-color: #78909C
;
}